*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Asap', sans-serif;
    background: gray;
    width: 100vw;
    height: 100vh;
}

.title{
    width: 100%;
    font-size: 4rem;
    text-align: center;
    font-weight: 500;
}

.inputs{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px;
}

.task, .add{
    margin: 20px 0;
}

.add-button{
    padding: 5px;
    width: 100%;
}

/* Todos list */
.content{
    margin: 0 auto;
    width: 50%;
    height: 50%;
    background: lightblue;
    overflow-y: auto;
}

/* Todo element */
.taskItem{
    margin: 15px auto;
    width: 90%;
    height: auto;
    background: mediumorchid;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word;
}

/* Todo text */
.taskElement{
    width: 92%;
}


/* Buttons hover effects */
.editBtn:hover{
    color: coral;
    transition: .3s;
    cursor: pointer;
}

.delBtn:hover{
    color: red;
    transition: .3s;
    cursor: pointer;
}

.acceptBtn:hover{
    color: lightgreen;
    transition: .3s;
    cursor: pointer;
}


/* scrollbars */

#scrollbar::-webkit-scrollbar{
    width: 8px;
    background: #f5f5f5; 
    border-radius: 10px;
}
    
#scrollbar::-webkit-scrollbar-thumb{
    background: #000000;
    border-radius: 10px;
}

#scrollbar::-webkit-scrollbar-thumb:hover{
    background: #181919;
}

/* scrollbar for firefox */

#scrollbar{
    overflow-y: auto;
    scrollbar-color: #000000 #444444;
}